{% extends 'clientes/list.html' %}


{% block colums %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Mesa</th>
    <th scope="col">Cliente</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Acciones</th>
</tr>
{% endblock  %}

{% block rows %}

{% for m in object_list %}
    <tr>
        <td>{{m.id}}</td>
        <td><a href="{% url 'lista-pedidos-mesa' mesa_id=m.id %}">{{m.nombre}}</a></td>
        <td>{{m.cli}}</td>
        <td>{{m.descripcion}}</td>
        <td>
            <a href="" type="button" class="btn btn-primary btn-xs">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{" type="button" class="btn btn-danger btn-xs">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
{% endfor %}

{% endblock  %}