{% extends 'clientes/list.html' %}

{% block colums %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombre</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock  %}

{% block rows %}

{% for c in object_list %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>
            <a href="{% url 'edit_category' c.id %}" type="button" class="btn btn-primary btn-xs">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'delete_category' c.id %}" type="button" class="btn btn-danger btn-xs">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
{% endfor %}

{% endblock  %}