{% extends 'clientes/list.html' %}

{% block colums %}
<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombre</th>
    <th scope="col">Categoria</th>
    <th scope="col">Imagen</th>
    <th scope="col">Precio</th>
    <th scope="col">Stock</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock  %}

{% block rows %}

{% for p in object_list %}
    <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.cate}}</td>
        <td>
            <img src="{{p.get_image}}" alt="" class="img-fluid d-block mx-auto" style="width:20px; heigth:20px;">
        </td>
        <td>{{p.pvp}}</td>
        <td>{{p.stock}}</td>
        <td>
            <a href="{% url 'edit_product' p.id %}" type="button" class="btn btn-primary btn-xs">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'delete_product' p.id %}" type="button" class="btn btn-danger btn-xs">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
{% endfor %}

{% endblock  %}